absl-py==0.15.0
aiohttp==3.7.4.post0
anyio==3.5.0
appdirs==1.4.4
appnope==0.1.0
APScheduler==3.6.3
arelle==2.2
argon2-cffi @ file:///Users/runner/miniforge3/conda-bld/argon2-cffi_1610522650583/work
astroid @ file:///opt/concourse/worker/volumes/live/a8a8b2be-963f-4e30-7c46-4aecaf981ab4/volume/astroid_1613500845571/work
astunparse==1.6.3
async-generator==1.10
async-timeout==3.0.1
asyncio==3.4.3
attrs @ file:///tmp/build/80754af9/attrs_1604765588209/work
autobahn==20.7.1
Automat==20.2.0
autopep8 @ file:///tmp/build/80754af9/autopep8_1596578164842/work
Babel==2.9.1
backcall==0.2.0
backtrader==1.9.76.123
backtrader-plotting==1.1.0
bandit==1.7.1
beautifulsoup4==4.9.3
binance==0.3
binance-client==1.0.0
binance-futures==1.1.0
black==19.10b0
bleach @ file:///home/conda/feedstock_root/build_artifacts/bleach_1612213472466/work
bokeh==2.0.2
brotlipy==0.7.0
bs4==0.0.1
cached-property==1.5.2
cachetools==4.2.4
certifi==2020.12.5
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1613414031019/work
chardet @ file:///opt/concourse/worker/volumes/live/c2acde30-2441-46c0-4d3b-134f00160171/volume/chardet_1605303188729/work
charset-normalizer==2.0.7
chart-studio==1.1.0
clang==5.0
click @ file:///home/linux1/recipes/ci/click_1610990599742/work
colorama==0.4.4
colorlover==0.3.0
comtypes @ https://github.com/mementum/comtypes/archive/master.zip
constantly==15.1.0
contextvars==2.4
cryptography @ file:///opt/concourse/worker/volumes/live/806790c7-13c6-41bc-7395-be030ef629d2/volume/cryptography_1616769285001/work
cssselect==1.1.0
cssutils==2.3.0
cufflinks==0.17.3
cycler==0.10.0
dart-fss==0.3.14
dart-fss-classifier==0.2.0
dataclasses==0.8
dateparser==1.0.0
decorator==4.4.2
defusedxml @ file:///home/conda/feedstock_root/build_artifacts/defusedxml_1615232257335/work
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1605121927639/work/dist/entrypoints-0.3-py2.py3-none-any.whl
et-xmlfile==1.1.0
fake-useragent==0.1.11
finance-datareader==0.9.31
flake8 @ file:///tmp/build/80754af9/flake8_1615834841867/work
Flask==1.1.2
flatbuffers==1.12
gast==0.4.0
gitdb==4.0.9
GitPython==3.1.18
google-auth==1.35.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.41.1
h2==3.2.0
h5py==3.1.0
halo==0.0.31
hpack==3.0.0
html5lib==1.1
hyperframe==5.2.0
hyperlink==20.0.1
idna==3.3
idna-ssl==1.1.0
immutables==0.16
importlib-metadata @ file:///tmp/build/80754af9/importlib-metadata_1602276842396/work
incremental==17.5.0
inflection==0.5.1
iniconfig @ file:///tmp/build/80754af9/iniconfig_1602780191262/work
ipykernel @ file:///opt/concourse/worker/volumes/live/43eaf185-e9cd-4e78-5afa-c19accf1339d/volume/ipykernel_1596206683810/work/dist/ipykernel-5.3.4-py3-none-any.whl
ipympl @ file:///home/conda/feedstock_root/build_artifacts/ipympl_1611166850005/work
ipython @ file:///opt/concourse/worker/volumes/live/8c453bb6-500b-4747-778c-a236ae4a574d/volume/ipython_1593447395779/work
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
ipywidgets @ file:///home/conda/feedstock_root/build_artifacts/ipywidgets_1609995587151/work
isodate==0.6.0
isort @ file:///tmp/build/80754af9/isort_1616355431277/work
itemadapter==0.3.0
itemloaders==1.0.4
itsdangerous==0.24
jedi @ file:///opt/concourse/worker/volumes/live/565dbe5a-443f-465a-7ff2-b61f4a5f081d/volume/jedi_1598371617578/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1612119311452/work
jmespath==0.10.0
joblib==1.1.0
JPype1==1.3.0
json5==0.9.6
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema_1614815863336/work
jupyter==1.0.0
jupyter-client @ file:///tmp/build/80754af9/jupyter_client_1601311786391/work
jupyter-console==6.2.0
jupyter-core @ file:///opt/concourse/worker/volumes/live/35a93b4e-d6fb-4720-7895-2fda25ada785/volume/jupyter_core_1606149000225/work
jupyter-server==1.13.1
jupyterlab==3.2.8
jupyterlab-pygments @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_pygments_1601375948261/work
jupyterlab-server==2.10.3
jupyterlab-widgets @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_widgets_1609173350931/work
keras==2.6.0
Keras-Preprocessing==1.1.2
kiwisolver @ file:///opt/concourse/worker/volumes/live/f396cc75-ab93-4292-5463-c41bf6c4bd1a/volume/kiwisolver_1612282405830/work
konlpy==0.5.2
lazy-object-proxy @ file:///opt/concourse/worker/volumes/live/34f7b6f0-7e5d-4b28-7c26-d6747b7d340c/volume/lazy-object-proxy_1616529069287/work
log-symbols==0.0.14
lxml==4.5.2
Markdown==3.3.5
markdown2==2.4.0
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1610127516870/work
matplotlib==3.3.1
mccabe==0.6.1
mistune @ file:///Users/runner/miniforge3/conda-bld/mistune_1610112888247/work
more-itertools @ file:///tmp/build/80754af9/more-itertools_1605111547926/work
multidict==5.1.0
multitasking==0.0.9
mypy-extensions==0.4.3
nbclassic==0.3.5
nbclient @ file:///home/conda/feedstock_root/build_artifacts/nbclient_1614336084111/work
nbconvert @ file:///Users/runner/miniforge3/conda-bld/nbconvert_1605401853753/work
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1611005694671/work
nest-asyncio==1.5.0
nodejs==0.1.1
notebook @ file:///Users/runner/miniforge3/conda-bld/notebook_1610575341778/work
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1610324566419/work
oauthlib==3.1.1
OpenDartReader==0.1.6
openpyxl==3.0.7
opt-einsum==3.3.0
optional-django==0.1.0
packaging==20.4
pandas==1.1.1
pandas-datareader==0.9.0
pandas-market-calendars==1.4.2
pandocfilters==1.4.3
parsel==1.6.0
parso==0.7.0
pathspec==0.7.0
patsy==0.5.2
pbr==5.8.0
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pickleshare==0.7.5
Pillow==7.2.0
plotly==4.14.3
pluggy==0.13.1
priority==1.3.0
prometheus-client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1605543085815/work
prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1602688806899/work
Protego==0.1.16
protobuf==3.19.1
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1605560620615/work/dist/ptyprocess-0.6.0-py2.py3-none-any.whl
py @ file:///tmp/build/80754af9/py_1593446248552/work
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1593275161868/work
PyDispatcher==2.0.5
pydocstyle==6.0.0
pyflakes @ file:///home/ktietz/src/ci_ipy2/pyflakes_1612551159640/work
Pygments @ file:///tmp/build/80754af9/pygments_1604103097372/work
PyHamcrest==2.0.2
pylama==7.7.1
pylint @ file:///opt/concourse/worker/volumes/live/7ace7572-9cc8-42c5-6df9-c146c1e75e2a/volume/pylint_1617135820553/work
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1608057966937/work
pyparsing==2.4.7
pyrsistent @ file:///Users/runner/miniforge3/conda-bld/pyrsistent_1610146827228/work
PySocks @ file:///opt/concourse/worker/volumes/live/286ddfa9-f2fd-40b3-4c68-b14dbfd7c9fa/volume/pysocks_1605305809963/work
pytest==0.0.0
python-binance==1.0.14
python-dateutil==2.8.1
pytz @ file:///tmp/build/80754af9/pytz_1612215392582/work
PyYAML==5.4.1
pyzmq==20.0.0
qtconsole==5.0.2
QtPy==1.9.0
Quandl==3.6.0
queuelib==1.6.1
regex @ file:///opt/concourse/worker/volumes/live/a70aa475-ce0d-458c-6f7c-8e0ce34c1844/volume/regex_1606772986255/work
requests==2.26.0
requests-file==1.5.1
requests-oauthlib==1.3.0
retrying==1.3.3
rsa==4.7.2
scikit-learn==0.24.2
scipy==1.5.4
Scrapy==2.5.0
seaborn==0.11.2
Send2Trash==1.5.0
service-identity==18.1.0
simplejson==3.17.2
six @ file:///opt/concourse/worker/volumes/live/5839b2d2-7415-4ff0-4c61-c4cddf798f7c/volume/six_1605205320479/work
sklearn==0.0
smmap==5.0.0
sniffio==1.2.0
snowballstemmer==2.1.0
soupsieve==2.1
spinners==0.0.24
statsmodels==0.12.2
stevedore==3.5.0
TA-Lib==0.4.19
tensorboard==2.6.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.6.2
tensorflow-estimator==2.6.0
termcolor==1.1.0
terminado @ file:///Users/runner/miniforge3/conda-bld/terminado_1609794230677/work
testpath==0.4.4
threadpoolctl==3.0.0
toml @ file:///tmp/build/80754af9/toml_1592853716807/work
tornado @ file:///opt/concourse/worker/volumes/live/cd39df49-5c81-4c95-513c-5bb83298b7ef/volume/tornado_1606942310103/work
tqdm==4.56.0
traitlets==4.3.3
tv2bt==1.0
tweepy==4.3.0
Twisted==20.3.0
txaio==20.4.1
typed-ast @ file:///opt/concourse/worker/volumes/live/85c87157-84ad-443c-5815-d7450a5595c1/volume/typed-ast_1610484564230/work
typing-extensions @ file:///tmp/build/80754af9/typing_extensions_1611751222202/work
tzlocal @ file:///opt/concourse/worker/volumes/live/ed7c01fb-63e9-44ac-75b8-b724cdc2ea4d/volume/tzlocal_1597435735041/work
ujson==4.0.2
urllib3==1.25.10
w3lib==1.22.0
wcwidth @ file:///tmp/build/80754af9/wcwidth_1593447189090/work
webencodings==0.5.1
websocket-client==0.57.0
websockets==8.1
Werkzeug==1.0.1
widgetsnbextension @ file:///Users/runner/miniforge3/conda-bld/widgetsnbextension_1605475527209/work
wrapt==1.12.1
xlrd==2.0.1
xmltodict==0.12.0
yahoo-finance==1.4.0
yapf==0.31.0
yarl==1.6.3
yfinance==0.1.54
zipp @ file:///tmp/build/80754af9/zipp_1604001098328/work
zope.interface==5.2.0
